
.shopCategory_banner{
    display: block;
    width: 82%;
    margin: 30px 170px;
}
.shopCategory_indexSort{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 170px;
}
.shopCategory_indexSort p span{
    font-weight: 600;
}
.shopCategory_sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopCategory_sort i{
    margin-left: 10px;
}
.shopCategory-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 100px;
    margin: 30px 170px;
}
.shopCategory-load_more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    font-size: 18px;
    font-weight: 300;
    background: #787878;
}
@media(max-width:1280px){
    .shopCategory_banner{
        width: 90%;
        margin: 20px auto;
    }
    .shopCategory_indexSort{
        width: 90%;
        margin: auto;
    }
    .shopCategory_sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopCategory_indexSort p{
        font-size: 12px;
    }
    .shopCategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 80px;
    }
    .shopCategory-load_more{
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width:800px){
    .shopCategory_banner{
        width: 95%;
    }
    .shopCategory-products{
        width: 95%;
    }
    .shopCategory-load_more{
        width: 150px;
        height: 40px;
    }
}
@media(max-width:500px){
    .shopCategory-products{
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
    }

}

