.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    width: 200px;
}
.nav-profile{
    width: 75px;
}
.me button{
    width: 160px;
    height: 60px;
    border-radius: 75px;
    color: white;
    background: #ff4141;
    border: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
.me{
    display: flex;
    align-items: center;
    gap: 10px;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
} 